* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9fafc;
  color: #333;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f7fb;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: none;
  cursor: pointer;
}
