.dashboard-container {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  .dashboard-title {
    margin-bottom: 30px;
  }
  .dashboard-title-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: #357ABD;
  }
  .dashboard-subtitle {
    font-size: 1rem;
    color: #666;
  }
  .dashboard-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .dashboard-card {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .dashboard-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  .card-title {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #333;
  }
  .card-description {
    font-size: 0.9rem;
    color: #777;
  }
  .icon {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #4caf50;
  }
  
  @media (max-width: 768px) {
    .dashboard-container{
    margin-top: 2rem;
    width: 100%;
    }
    .dashboard-card {
      width: 90%;
    }
    .dashboard-title-text {
      font-size: 2rem;
    }
  }
  