.modal{
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 100%;
}

.modal-container.open {
    display: flex; 
    flex-direction: column;
  }

  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  
  .modal-content .edit-btn {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .modal-content input,
  .modal-content select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .modal-content button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .modal-content button:hover {
    background-color: #45a049;
  }
  
  @media screen and (max-width: 768px) {
    .modal-content {
      width: 100%;
    }
  
    .modal-content input,
    .modal-content select {
      font-size: 14px; 
    }
  
    .modal-content button {
      font-size: 14px;
      padding: 10px 0;
    }
  }
  