.role-table-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .role-table-header {
    display: flex;
    padding: 12px;
    font-weight: bold;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
  }
  
  .role-table-cell {
    flex: 1;
    padding: 10px;
    font-size: 0.75rem;
    color: #333;
    border-right: 1px solid #e0e0e0;
    text-align: left;
  }
  
  .role-table-cell:last-child {
    border-right: none;
    display: flex;
    gap: 10px;
  }
  
  .role-table-row {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .role-table-cell select {
    width: 100%;
    padding: 8px;
    font-size: 0.75;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
/*    */
  
  @media (max-width: 768px) {
    .role-table-header {
        display: flex;
      flex-direction: row;
    }
  
    .role-table-row {
      flex-direction: row;
      gap: 10px;
    }
  
    .role-table-cell {
      font-size: 14px;
      padding: 8px;
    }
  }
  

.btn-edit,
.btn-delete {
  width: 60px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-edit {
  background-color: #FFD700;
  color: black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-edit:hover {
  background-color: #357ABD; 
  color: white;
  transform: scale(1.05);
}

.btn-delete {
  background-color: #B00008; 
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-delete:hover {
  background-color: #357ABD; 
  transform: scale(1.05);
}

.btn-edit:active,
.btn-delete:active {
  transform: scale(0.95);
  box-shadow: none;
}

.btn-edit:focus,
.btn-delete:focus {
  outline: 2px solid #FFD700;
  outline-offset: 2px;
}

.role-table tr:hover {
  background-color: #f1f1f1; 
  transition: background-color 0.3s;
}

.permission-item input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.permission-item input[type="checkbox"]:checked {
  accent-color: #357ABD;
}

@media (max-width: 768px) {
  .btn-edit,
  .btn-delete {
    font-size: 1rem;
    padding: 10px 10px;
  }

  .btn-edit {
    margin-bottom: 5px;
  }

  .role-table th,
  .role-table td {
    font-size: 0.75rem;
  }

  .permission-item input[type="checkbox"] {
    width: 28px;
  }
}
