.role {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
}

.rolemanagement {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #357ABD;

}

.role-form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-field {
  flex: 1;
  min-width: 150px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-submit {
  padding: 12px 20px;
  font-size: 1rem;
  background-color: #357ABD;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-submit:hover {
  background-color: #357ABD;
}

.role-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.role-table th,
.role-table td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-weight: 0.5rem;
}

.role-table th {
  background-color: #357ABD;
  color: #fff;
}

.role-table tr:hover {
  background-color: #f1f1f1;
}

.action-btn {
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.action-btn.edit {
  background-color: #FFD700;
}

.action-btn.edit:hover {
  background-color: #357ABD;
}

.action-btn.delete {
  background-color: #357ABD;
}

.action-btn.delete:hover {
  background-color: #B00008;
}


.permissions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-around;
  border: 1px solid #ccc; 
  border-radius: 8px;
  background-color: #f9f9f9; 
  font-weight: normal;
  padding: 10px;
}


@media (max-width: 768px) {
  .role {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.btn-submit {
  /* padding: 10px 10px; */
  font-size: 1rem;
}

  .role-form {
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .action-btn.edit,
  .action-btn.delete {
    width: 4rem;
  }

  .action-btn.edit {
    margin-bottom: 5px;
  }

  .input-field {
    width: 100%;
  }

  .role-table th,
  .role-table td {
    font-size: 0.9rem;
  }
  .permissions {
    flex-direction: row; 
    gap: 5px; 
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .role {
    margin-top: 3rem;
  }

  .rolemanagement {
    font-size: 1.5rem;
  }

  .action-btn.edit {
    margin-bottom: 5px;
  }

  .role-table th,
  .role-table td {
    font-size: 0.8rem;
    padding: 8px;
  }
  
  .permissions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
    padding: 10px;
  }
  .role-form{
    gap: 10px;
  }

  .btn-submit {
    padding: 5px 15px;
    font-size: 1rem;
  }

}