body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9fafc;
  color: #333;
}
.toggle-button {
    position: absolute;
    top: 5px;
    left: 5px;
    /* background-color: #f9f9f9; */
    color: black;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1001;
    border-radius: 5px;
    display: none; 
  }
  
  .toggle-button:focus {
    outline: none;
  }
  
  @media (max-width: 768px) {
    .toggle-button {
      display: block;
    }
  }
  