.user {
  padding: 20px;
}
.usermanagement {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #357ABD;
}
.user-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.input-field {
  flex: 1;
  height: 40px;
  min-width: 150px;
  font-size: 1rem;
  border-radius: 4px;
}

.btn-submit {
  font-size: 1rem;
  background-color: #357ABD;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;

}

.btn-submit:hover {
  background-color: #357ABD;
}
.validation-error {
  color: #D8000C; 
  font-size: 1rem; 
  display: flex;
  flex-direction: column;
  text-align: center; 
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th,
.user-table td {
  text-align: left;
  padding: 10px;
}

.user-table th {
  background-color: #357ABD;
  color: #fff;
}

.user-table tr:hover {
  background-color: #f1f1f1;
}

.action-btn {
  padding: 5px 10px;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}
.search-sort {
  display: flex;
  flex-direction: row; 
  align-items: center;
  justify-content: space-between; 
  width: 100%; 
  gap: 30px; 
  margin-top: 1rem;
}

.search-bar {
  flex: 1; 
}
.sort-btn {
  width: 20%;
  font-size: 1rem;
  padding: 10px;
}

.sorting {
  flex: 1; 
  display: flex;
  justify-content: flex-end; 
}
.search-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .user {
    margin-top: 3rem;
    width: 100%;
    font-size: 20px;
  }
  .usermanagement {
    font-size: 2rem;
    text-align: center;
  }
  .user-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .input-field {
    width: 100%;
  }
  .btn-submit {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .search-sort{
    gap: 10px;
    height:2.5rem;
  }
  .sort-btn {
    font-size: 0.45rem;
    height:2.5rem;
    border-radius: 4px;
  }
  .search-bar {
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .user-table {
    width: 100%;
    font-size: 0.75rem;
  }
  .user-table th,
  .user-table td {
    padding: 5px 5px;
    word-wrap: break-word;
  }
  .edit .action-btn.delete{
    font-size: 0.75rem;
  }
  .validation-error {
    font-size: 0.75rem;
    text-align: center;
  }
}
